* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: rgb(37, 36, 36);
}

.sidebar {
   height: 100vh;
   width: 250px;
   border: none; 
   background-color: rgb(21, 20, 20);  
   color: white;
   transition: left 1s;
}

.sidebar.open {
    left: 0;
    width: 0;
}
.sidebar .vanish{
    opacity: 0;
}

.toggle-button {
    display: flex;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.toggle-button:focus {
    outline: none;
}

.sidebarIcon {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
    transition: left 1s;
}

.heading {
    display: flex;
    margin: 10px;
}

.heading img {
    margin-right: 10px;
    margin-top: 20px;
    
}

.heading p {
    font-family: "Roboto",sans-serif;
    margin-top: 20px;
}

.sub-heading {
    display: flex;
    margin: 10px;
}

.sub-heading i {
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
}

.sub-heading p {
    font-family: "Roboto",sans-serif;
    margin-top: 20px;
}

.today {
    margin: 10px;
    margin-top: 50px;
}

.today p {
    margin: 10px;
    font-family: "Roboto",sans-serif;

}

.yesterday {
    margin: 10px;
    margin-top: 50px;
}

.yesterday p {
    margin: 10px;
    font-family: "Roboto",sans-serif;

}

.previous {
    margin: 10px;
    margin-top: 50px;
}

.previous p {
    margin: 10px;
    font-family: "Roboto",sans-serif;

}

.previous-1 {
    margin: 10px;
    margin-top: 50px;
}

.previous-1 p {
    margin: 10px;
    font-family: "Roboto",sans-serif;

}

.chatContainer {
    display: flex;
}

.mainHead {
    display: flex;
    margin: 20px;
    font-family: "Roboto",sans-serif;
    gap: 10px;
    cursor: pointer;

}

.mainHead i {
    margin-top: 6px;
    cursor: pointer;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 600px;
    margin-left: 70px;
    gap: 10px;
    
}

.input-container input {
   width: 600px;
   height: 50px;
   border-radius: 50px;
   background-color: gray;
   display: flex;
   font-size: 20px;
   padding: 10px;
   color: black;
   cursor: pointer;
}

.search input {
    font-size: 20px;
    padding: 10px;
    
}

.input-container button {
    background-color: whitesmoke;
    border-radius: 50%;
    font-size: 35px;
    aspect-ratio: 1;
    right: 0;
    top: 0;
    background-color: rgb(49, 46, 46);
    color: white;
    gap: 10px;
    cursor: pointer;
}



